<mat-card>
  <mat-card-header>
    <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="user.email !== undefined">
      email: {{user.email}}
    </p>
    <p *ngIf="user.street !== undefined && user.streetNr !== undefined">
      street: {{user.street}} {{user.streetNr}}
    </p>
    <p *ngIf="user.postCode !== undefined && user.cityName !== undefined">
      city: {{user.postCode}} {{user.cityName}}
    </p>
  </mat-card-content>
  <button mat-raised-button color="primary" (click)="navigateToDetailUser()">Details</button>
</mat-card>
