<mat-card>
  <mat-card-header>
    <mat-card-title>product: {{purchase.purchaseName}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>price: € {{purchase.price}}</p>
    <p>date: {{purchase.date}}</p>
  </mat-card-content>
</mat-card>
