/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin-left: 10%;
  margin-right: 10%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f7f7f7;
}

mat-card{
  margin-bottom: 0.5%;
}
