<h1>detail-user</h1>
<app-user-card [user]="user"></app-user-card>
<h1>Purchases</h1>
<h3>money spent this year € {{moneySpentThisYear}}</h3>
<div *ngFor="let purchase of this.user.purchases">
  <app-purchase-card [purchase]="purchase"></app-purchase-card>
</div>

